.btn-hover:hover {
  background-color: aliceblue;
  color: black;
}
.img-hov {
  overflow: hidden;
  border-radius: 10px;
}
.img-hov > img {
  transition: 0.4s;
  border-radius: 10px;
}
.img-hov > img:hover {
  transform: scale(1.05);
}

.card p {
  transition: 0.4s;
}

.card p:hover {
  background-color: rgba(0, 0, 0, 0.137);
  padding: 10px;
  border-radius: 15px;
}
